.container {
	position: relative;
}

.container::before {
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	content: '';
	background: url('../../assets/images/bg-star.jpg');
	opacity: 0.4;
	width: 100%;
}
